<p-table #dt 
    [columns]="tableCols"
    [value]="tableData"
    sortMode="multiple"
    [lazy]="false"
    [paginator]="true"
    [rows]="tableRowsNo"
    [totalRecords]="tableTotalRecords"
    (onLazyLoad)="loadTableDataLazy($event)"
    [loading]="loading">
  <ng-template pTemplate="caption">
    {{tableHeadline}}
    <div style="text-align: right">        
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Global Filter" (input)="onGlobalFilter($event, dt)" style="width:auto">
    </div>    
  </ng-template>    
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <input *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        <input *ngSwitchCase="'name'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        <input *ngSwitchCase="'description'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns" [ngSwitch]="col.field" class="column">
        <span *ngSwitchCase="'date'">{{rowData[col.field]}}</span>
        <span *ngSwitchCase="'description'" pTooltip="{{rowData[col.field].length > 40 ? rowData[col.field] : ''}}">{{rowData[col.field]}}</span>
        <span *ngSwitchDefault>{{rowData[col.field]}}</span>        
      </td>
    </tr>
  </ng-template>
</p-table>