<div class="wrapper">
  <div class="menu">
      <button *ngIf="!authenticated()" name="loginBtn" (click)="login()">Login</button>
      <button *ngIf="authenticated()" name="logoutBtn" (click)="logout()">Logout</button>
      <button id="accountBtn" name="accountBtn" (click)="account()">Account</button>
  </div>
  <br>
  <div>
    <button name="realm" (click)="realm()">Realm</button>
    <button name="account" (click)="account1()">Account</button>
  </div>
</div>

<h1>Swarco</h1>
<a routerLink="">Home</a>
<br>
<a routerLink="/table">Data Table</a>

<router-outlet></router-outlet>