<div class="wrapper">
  <div class="menu">
      <button *ngIf="!authenticated()" name="loginBtn" (click)="login()">Login</button>
      <button *ngIf="authenticated()" name="logoutBtn" (click)="logout()">Logout</button>
      <button id="accountBtn" name="accountBtn" (click)="account()">Account</button>
  </div>

  <div class="content">
      <button name="publicBtn" (click)="request('public')">Invoke Public</button>
      <button name="securedBtn" (click)="request('secured')">Invoke Secured</button>
      <button name="adminBtn" (click)="request('admin')">Invoke Admin</button>

      <div class="message"><span id="message" class="{{errorClass}}">{{message}}</span></div>
  </div>
</div>

<h1>Swarco</h1>
<a routerLink="">Home</a>
<br>
<a routerLink="/table">Data Table</a>

<router-outlet></router-outlet>